// @import "./_app.scss";
// @import "./_popup.scss";
@import "./_dev.scss";

html{
    height: 100%;
}

body {
    height: 100%;
    margin: 0;

    .btn{
        text-align: center;
        padding: 5px 10px;
        display: inline-block;

        border-radius: 2.5rem;
        color: white;
        background-color: cadetblue;
    }
    .btn:hover {
        background-color: burlywood;
        cursor: pointer;
    }
    
    .btnChoice {
        font-size: 16px;
        width: 100px;
        margin: 5px;
        box-sizing: border-box;
    }

    .btn2 {
        margin: 0 auto;
    }

    .btn4{
        position: relative;
        top: 50%;
    }
    .container {
        height: 100%;
        position: relative;
        
        overflow: hidden;
        
        .scene {
            height: 100%;
            width: 100%;
            position: absolute;
        }

        .winlose {
            color: white;
            background-color: yellowgreen;
            margin: auto;
            text-align: center;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }


        #title {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            color: white;
            background-image:url("./images/common/card haikei.jpg");
        }

        #play {
            // background-color: white;
            .bar {
                background-image: url("images/common/logo.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-color: yellowgreen;
                
                display: flex;
                justify-content: space-between;
                align-items: center;
        
                height: 40px;
                width: 100%;

                .left {
                    width: auto;
                    overflow: hidden;
                }

                .right {
                    background-color: white;
                    border-radius: 2.5rem;
        
                    height: 70%;
                    width: auto;
        
                    text-align: center;
            
                }
            }
        
            #board {
                display: flex;
                align-items: center;
                flex-direction: column;

                .nextPlayer {
                    // background-color: burlywood;

                    font-weight: bold;

                    border-bottom: lightblue solid 3px;
                    padding: 3px 5px;
                    width:60%
                }
        
                .field {
                    display: flex;
                    align-items: center;
                    
                    height: 100%;
                    width: 100%;
        
                    .left{
                        box-sizing: border-box;
                        height: 380px;
                        width: 20%;
                        padding: 3px;
                        border-right: 2px solid #000;

                        .card {

                            margin: 5px;
                            padding: 4px 5px;
                    
                            background-color:whitesmoke;
                    
                            // width: calc( 100px );
                            // img {
                            //     width: 100%;
                            //     height: 100%;
                            // }
                            border-radius: 5px;
                            box-shadow: 0px 1px 5px #0009;

                            .title {
                                img {
                                    width: 100%;
                                }
                            }
    
                        }
                        .card:hover {
                            cursor: pointer;
                        }

                    }
        
                    .right {
                        box-sizing: border-box;
                        display: flex;
                        justify-content: space-between;
                        
                        height: 400px;
                        width: 80%;
                        padding: 3px;

                        .text {
                            font-size: 30px;
                            font-weight: bold;
                        }
        
                        .players {
                            box-sizing: border-box;
                            width: 20%;
                            margin: 50px;
                            // align-items: center;
        
                            .p {
                                background-color: burlywood;
                                border-radius: 2.5rem;
                                text-align: center;
                                margin: 20px;
                                height: 20%;
                                width: 100%;

                                font-weight: bold;
                            }
                        }
                    }
                }
        
                .player {
                    box-sizing: border-box;
                    background-color: cadetblue;
                    border-radius: 2.5rem;
                    margin:10px;
                    padding: 20px;
                    
                    height: 200px;
                    width: 70%;

                    .deck {
                        display: flex;
                        flex-wrap: nowrap;

                        .card {
                            margin: 5px;
                            padding: 4px 5px;
                            // padding: 10px;
                    
                            background-color:whitesmoke;
                    
                            width: calc( 100px );
                            img {
                                width: 100%;
                                height: 100%;
                            }
                            border-radius: 5px;
                            box-shadow: 0px 1px 5px #0009;
                        }                
                    }
                }
            }
        
        }

        #rule {
            text-align: center;
            display: none;

            color: aliceblue;
            background-color:#0009;          
        }

        #win {
            display: none;
        }
        
        #lose {
            display: none;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #000;
            overflow: hidden;
            
            h1 {
                position: relative;
                top: 40%;
                font-family: 'Montserrat', Arial, sans-serif;
                font-size: calc(20px + 5vw);
                font-weight: 700;
                color: #fff;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                text-shadow: 0 0 0.15em #1da9cc;
                user-select: none;
                white-space: nowrap;
                filter: blur(0.007em);
                animation: shake 2.5s linear forwards;
            }
            
            h1 span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
                        clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
            }
            
            h1::before,
            h1::after {
                content: attr(data-text);
                position:absolute;
                top: 50%;
                left: 50%;
            }
            
            h1::before {
                animation: crack1 2.5s linear forwards;
                -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
                        clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
            }
            
            h1::after {
                animation: crack2 2.5s linear forwards;
                -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
                        clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
            }
            
            @keyframes shake {
                5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
                    filter: blur(0.018em);
                    transform: translateY(0.018em) rotate(0deg);
                }
            
                10%, 30%, 40%, 50%, 70%, 80%, 90% {
                    filter: blur(0.01em);
                    transform: translateY(-0.018em) rotate(0deg);
                }
            
                20%, 60% {
                    filter: blur(0.03em);
                    transform: translate(-0.018em, 0.018em) rotate(0deg);
                }
            
                45%, 85% {
                    filter: blur(0.03em);
                    transform: translate(0.018em, -0.018em) rotate(0deg);
                }
            
                100% {
                    filter: blur(0.007em);
                    transform: translate(0) rotate(-0.5deg);
                }
            }
            
            @keyframes crack1 {
                0%, 95% {
                    transform: translate(-50%, -50%);
                }
            
                100% {
                    transform: translate(-51%, -48%);
                }
            }
            
            @keyframes crack2 {
                0%, 95% {
                    transform: translate(-50%, -50%);
                }
            
                100% {
                    transform: translate(-49%, -53%);
                }
            }
        }
    }
}

@keyframes slide-out-anim {
	20% {
		opacity: 1;
		transform: translateX(-15%);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateX(200%);
	}  
}